*{
    margin: 0px;
    padding: 0px;
}

:root{
    --colorppal: rgb(173, 173, 173);
    --colorsecundario: gray;
    --colorfuente: white;
    --colorfuentesec: rgb(204, 204, 204); 
    --fuenteFrm: "Verdana";
    --fuenteDisplay: "seven segment" , sans-serif;
}

#calcu{
    height: 460px;
    width: 320px;
    background-color: var(--colorppal);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

#cinput{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cbutton{
    height: 180px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#cres{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

button{
    width: 100%;
    border-radius: 8px;
    padding: 3px;
    background-color: var(--colorsecundario);
    font-family: var(--fuenteFrm);
    color: var(--colorfuente);
}

input{
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    font-size: 22px;
    background-color: var(--colorsecundario);
    font-family: var(--fuenteDisplay);
    color: var(--colorfuente);
    
}

input::placeholder {
    color:var(--colorfuentesec);
    text-align: right;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#labres{
    font-family: var(--fuenteFrm);
    color: var(--colorfuente);
    font-size: 20px;
}